{% extends "base.html" %}
{% block title %}
  Ваша корзина товаров
{% endblock %}
{% block content %}

    <div class="row table" style="margin-bottom: 0px;padding-bottom: 5px;padding-top: 5px;margin-top: 50px">
        <div class="col-sm-2 light">Изображение</div>
        <div class="col-sm-3 light">Название</div>
        <div class="col-sm-3 light">Количество</div>
        <div class="col-sm-1 light">Удалить</div>
        <div class="col-sm-1 light">Цена</div>
        <div class="col-sm-2 light">Полная цена</div>
    </div>
    {% for item in cart %}
        {% with product=item.product %}
            <div class="row table" style="margin-bottom: 0px;padding: 5px">
                <div class="col-sm-2 light">
                    <a href="{{ product.get_absolute_url }}">
                        <img style="max-height: 100px" src="{{ product.image.url }}" alt="" />
                  </a>
                </div>
                <div class="col-sm-3 light" style="margin-top: 40px">
                    <a href="{{ product.get_absolute_url }}" style="color: black">{{ product.name }}</a>
                </div>
                <div class="col-sm-3 light" style="margin-top: 32px">
                    <form action="{% url "cart:CartAdd" product.id %}" method="post">
                        <div class="row" style="margin-left: 10px;margin-right: 10px">
                            <div class="col-sm-4">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                {% csrf_token %}
                            </div>
                            <div class="col-sm-8" style="margin-top: 2px">
                                <input class="btn btn-primary bold" style="width: 120px;height: 30px" type="submit" value="ОБНОВИТЬ">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1 light" style="margin-top: 40px"><a href="{% url "cart:CartRemove" product.id %}" style="color: black">Удалить</a></div>
                <div class="col-sm-1 light" style="margin-top: 40px">{{ item.price }} руб.</div>
                <div class="col-sm-2 light" style="margin-top: 40px">{{ item.total_price }} руб.</div>
            </div>
        {% endwith %}
    {% endfor %}

    {% if cart.cupon %}
        <div class="row table" style="margin-bottom: 0px;padding: 5px">
            <div class="col-sm-2 light" style="font-size: 100%">
                Сумма без скидки:
            </div>
            <div class="col-sm-8 light"></div>
            <div class="col-sm-2 light" style="font-size: 100%">{{ cart.get_total_price }} руб.</div>
        </div>

        <div class="row table" style="margin-bottom: 0px;padding: 5px">
            <div class="col-sm-2 light" style="font-size: 100%">
                "{{ cart.cupon.code }}" скидка {{ cart.cupon.discount }} %:
            </div>
            <div class="col-sm-8 light"></div>
            <div class="col-sm-2 light" style="font-size: 100%">- {{ cart.get_discount|floatformat:"2" }} руб.</div>
        </div>
    {% endif %}

    <div class="row table" style="margin-bottom: 30px;padding: 5px">
        <div class="col-sm-2 light" style="font-size: 130%">
            Всего:
        </div>
        <div class="col-sm-8 light"></div>
        <div class="col-sm-2 light" style="font-size: 130%">{{ cart.get_total_price_after_discount|floatformat:"2" }} руб.</div>
    </div>


    <form action="{% url "cupon:apply" %}" method="post" class="light">
        <div class="row">
            <div class="col-sm-3">
                {% csrf_token %}
                {{ cupon_apply_form }}
                <br>
                <input class="btn btn-primary bold" style="width: 140px;height: 30px" type="submit" value="ПРИМЕНИТЬ">
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-7"></div>
        </div>
    </form>

    <div class="row" style="margin-bottom: 70px">
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <form action="{% url "shop:ProductList" %}">
                <input class="btn btn-primary bold" style="width: 250px;height: 40px" type="submit" value="ПРОДОЛЖИТЬ ШОПИНГ">
            </form>
        </div>
        <div class="col-sm-3">
            <form action="{% url "orders:OrderCreate" %}">
                <input class="btn btn-primary bold" style="width: 250px;height: 40px" type="submit" value="ОФОРМИТЬ ЗАКАЗ">
            </form>
        </div>
    </div>

{% endblock %}