<!--
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-3">
            <p class="city">Владивосток</p>
            <div class="row">
                <div class="col-sm-3" style="padding-top: 5px">
                    <img style="max-height: 30px;" src="http://image.ibb.co/j53XUx/2.png" alt="">
                </div>
                <div class="col-sm-9">
                    <p style="color: #d6607e;">Бесплатная доставка при заказе от 3000 руб.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
    </div>
</div>
-->
<div style="height: 25px;background: #ffffff" class="collapse navbar-collapse">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-2" style="border-left: 1px solid #cfd3d7;border-right: 1px solid #cfd3d7;text-align: center;max-height: 25px">
                <p class="light" style="padding-top: 3px;">Связаться с</p>
            </div>
            <div class="col-sm-2" style="border-right: 1px solid #cfd3d7;text-align: center;max-height: 25px">
                <p class="light" style="padding-top: 3px">Помощь и FAQ</p>
            </div>
        </div>
    </div>
</div>

<div style="background: #b578cf;height: 50px">
    <div class="container height100">
        <div class="row height100">

            <div class="col-sm-3" style="max-height: 50px">
                {% include 'includes/logo.html' %}
            </div>

            <div class="col-sm-6" style="max-height: 50px">
            </div>

            <div class="col-sm-3" style="max-height: 50px;">
                <div style="float: right">
                    <a href="">
                        <div class="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="30px" height="32px" version="1.1" style="margin-top: 10px;shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 165 176.79"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     enable-background="new 0 0 96 96">
                     <defs>
                      <style type="text/css">
                        .str0 {stroke: #ffffff;stroke-width:9.98;stroke-miterlimit:22.9256}
                        .str1 {stroke: #ffffff;stroke-width:9.98;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
                        .fil0 {fill:none}
                      </style>
                     </defs>
                     <g id="Слой_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"/>
                      <g id="_1193660272">
                       <path class="fil0 str0" d="M117.3 45.72c0,19.21 -15.58,34.8 -34.8,34.8 -10.36,0 -19.67,-4.53 -26.04,-11.72 -5.45,-6.14 -8.76,-14.23 -8.76,-23.08 0,-19.22 15.58,-34.81 34.8,-34.81 19.22,0 34.8,15.58 34.8,34.81z"/>
                       <path class="fil0 str1" d="M141.97 136.6c-0.24,-0.48 -0.49,-0.97 -0.74,-1.45 -11.08,-21.12 -33.22,-35.54 -58.73,-35.54 -36.59,0 -66.26,29.67 -66.26,66.26l132.52 0c0,-6.34 -0.89,-12.49 -2.55,-18.3"/>
                      </g>
                     </g>
                    </svg>
                            <div class="dropdown-content">
                                <a href="">text</a>
                            </div>
                        </div>
                    </a>

                    <a href="" style="padding-left: 10px;">
                        <div class="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="30px" height="30px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
    viewBox="0 0 165 165"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     enable-background="new 0 0 96 96">
     <defs>
      <style type="text/css">
        .trolley {stroke:white;stroke-width:9.98;stroke-linecap:round;stroke-miterlimit:22.9256}
        .fil0 {fill:none}
      </style>
     </defs>
     <g id="Слой_x0020_1">
      <metadata id="CorelCorpID_0Corel-Layer"/>
      <g id="_1195146784">
       <path class="fil0 trolley" d="M145.14 94.4c2.71,-9.71 8.81,-26.93 10.99,-38.48 2.32,-12.25 -8.21,-18.36 -18.35,-18.36l-106.27 0.01 1.41 18.35c0,0 2.72,23.4 4.4,36.71 1.67,13.31 8.22,18.35 18.35,18.35 0,0 63.56,-5.06 74.76,-7.34 7.43,-1.52 11.76,-4.36 14.71,-9.24z"/>
       <path class="fil0 trolley" d="M32.69 52.84c0,0 -1.49,-16.66 -2.41,-28.36 -0.93,-11.7 -7.3,-16.29 -16.3,-16.29 -1.91,0 -3.74,0.32 -5.44,0.93"/>
       <path class="fil0 trolley" d="M55.29 110.98c-6,0 -10.86,4.86 -10.86,10.86 0,6.01 4.86,10.86 10.86,10.86l88.86 0"/>
       <circle class="fil0 trolley" cx="62.69" cy="150.27" r="6.54"/>
       <circle class="fil0 trolley" cx="130.26" cy="150.27" r="6.54"/>
       <line class="fil0 trolley" x1="90.08" y1="59.61" x2="90.08" y2= "86.01" />
       <line class="fil0 trolley" x1="64.35" y1="59.61" x2="64.35" y2= "86.01" />
       <line class="fil0 trolley" x1="115.8" y1="59.61" x2="115.8" y2= "86.01" />
      </g>
     </g>
    </svg>
                            <div class="dropdown-content">
                                <a href="">text</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- class="collapse navbar-collapse" -->

<div style="background: #e4b6e1;height: 50px" class="collapse navbar-collapse">
    <div class="container height100">
        <div class="row height100">
            <div class="col-sm-1 header_row height100 dropdown show" style="padding-left: 0px">
                <a href="" class="btn btn-primary height100">
                    <p class="bold" style="margin-top: 13px">ВСЕ ТОВАРЫ</p>
                </a>
                <div class="dropdown-content">
                    <a href="">text</a>
                </div>
            </div>

            <div class="col-sm-2 header_row height100 dropdown show">
                <a href="" class="btn btn-primary height100">
                    <p class="bold" style="margin-top: 13px">БРЕНДЫ</p>
                </a>
                <div class="dropdown-content">
                    <a href="">text</a>
                </div>
            </div>

            <div class="col-sm-2 header_row height100 dropdown show">
                <a href="" class="btn btn-primary height100">
                    <p class="bold" style="margin-top: 13px">КАТЕГОРИИ</p>
                </a>
                <div class="dropdown-content">
                    <a href="">text</a>
                </div>
            </div>

            <div class="col-sm-1 header_row height100 dropdown show">
                <a href="" class="btn btn-primary height100">
                    <p class="bold" style="margin-top: 13px;">ТОП ПРОДАЖ</p>
                </a>
                <div class="dropdown-content">
                    <a href="">text</a>
                </div>
            </div>

            <div class="col-sm-6 header_row height100">
                <div>
                    <form action="" method="get">
                        <div>
                            <input title="Поиск" style="margin-top: 5px;margin-left: 60px" type="text" class="_2z-tgin">
                            <button class="_1PEaSbT" type="submit" style="margin-top: 3px;margin-right: 5px">
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21px" height="20px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                viewBox="0 0 154 148.08"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 enable-background="new 0 0 96 96">
                                 <defs>
                                  <style type="text/css">
                                    .search {stroke: #000000;stroke-width:10.03;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
                                    .fil0 {fill:none}
                                  </style>
                                 </defs>
                                 <g id="Слой_x0020_1">
                                  <metadata id="CorelCorpID_0Corel-Layer"/>
                                  <g id="_1195129152">
                                   <path class="fil0 search" d="M108.31 86.58c-2.19,3.69 -4.86,7.16 -8.03,10.33 -20.48,20.48 -53.69,20.48 -74.17,0 -20.48,-20.48 -20.48,-53.68 0,-74.16 20.48,-20.48 53.69,-20.49 74.17,-0.01 14,14.01 20.24,43.25 8.03,63.84z"/>
                                   <line class="fil0 search" x1="101.83" y1="98.47" x2="143.49" y2= "140.12" />
                                  </g>
                                 </g>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


