{% extends 'base.html' %}
{% load static %}

{% block title %}
  {% if category %} {{ category.name }} {% else %} Страница товаров {% endif %}
{% endblock %}

{% block content %}
<!--
  <div id="sidebar" class="col-sm-3">
      <div style="padding: 10px;background-color: #f1f1f1;border-radius: 5px;margin-top: 10px">
        <h3 class="bold" style="font-size: 170%;margin: 0">Категории</h3>
        <ul>
          <li {% if not category %} class="selected" {% endif %}>
            <a class="light" style="font-size: 110%;{% if not category %}color: white;{% else %}color: black;{% endif %}" href="{% url "shop:ProductList" %}">Все</a>
          </li>
          {% for cat in categories %}
            <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
              <a class="light" style="font-size: 110%;{% if category.slug == cat.slug %}color: white;{% else %}color: black;{% endif %}" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div style="padding: 10px;background-color: #f1f1f1;border-radius: 5px;margin-top: 20px">
        <h3 class="bold" style="font-size: 170%;margin: 0">Бренды</h3>
        <ul>
          <li {% if not category %} class="selected" {% endif %}>
            <a class="light" style="font-size: 110%;{% if not category %}color: white;{% else %}color: black;{% endif %}" href="{% url "shop:ProductList" %}">Все</a>
          </li>
          {% for cat in categories %}
            <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
              <a class="light" style="font-size: 110%;{% if category.slug == cat.slug %}color: white;{% else %}color: black;{% endif %}" href="/category/{{ cat.get_absolute_url }}">{{ cat.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
  </div>
  -->
  <div class="container">
  <!--
    <div class="row">
        <h1 class="bold" style="font-size: 170%">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
    </div>
    -->
    <form class="form-horizontal" method="post" style="margin-top: 20px">
        {% csrf_token %}
        <div>
            <div class="form-group">
                <h1 class="col-sm-4 bold" style="font-size: 170%;margin-top: 0px;padding-left: 20px">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
                <label for="username" class="col-sm-3 control-label light">Сортировать по:</label>
                <div class="col-sm-3">
                    <select class="form-control" name="sort">
                      <option>Новинки</option>
                      <option>По возрастанию цены</option>
                      <option>По убыванию цены</option>
                    </select>
                </div>
                <div class="col-sm-2" style="text-align: center">
                    <input style="width: 180px;height: 35px" class="btn btn-primary hp-banner-register bold" type="submit" value="СОРТИРОВАТЬ">
                </div>
            </div>
        </div>
    </form>

    <div class="container">
      {% for product in products %}
          <!--
        <div class="item col-sm-4">
          <a href="{{ product.get_absolute_url }}">
            <img style="max-height: 300px" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive">
          </a>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
          {{ product.price }} руб.
        </div>
        -->

          <div class="col-sm-3 card linkblock" onclick="location.href='{{ product.get_absolute_url }}';">
                <a href="{{ product.get_absolute_url }}">
                    <img style="max-height: 200px;max-width: 170px;margin-bottom: 10px" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}">
                </a>
                <p class="light" style="margin-bottom: 3px">
                    {{ product.brand }}<br>
                </p>
                <p style="font-size: 120%;margin-bottom: 3px">
                    {{ product.name }}
                </p>
                <p class="light">
                    {{ e.product.category }}<br>
                    Цена: {{ product.price }} руб.
                </p>
                <div style="border-top: 1px solid #cfd3d7;width: 100%">
                    <p class="bold" style="margin-top: 10px">КУПИТЬ</p>
                </div>
            </div>
      {% endfor %}
    </div>
  </div>


    <!--  СТРАНИЦЫ -->
    <div class="row">
        <div class="large-3 large-offset-5 columns">
            <ul class="pagination">
                {% if not category %}
                    {% if products.has_previous %}
                        <li class="arrow">
                            <a href="/page/{{ products.previous_page_number }}">&laquo</a>
                        </li>
                    {% else %}
                        <li class="arrow unavailable">
                            <a href="">&laquo</a>
                        </li>
                    {% endif %}
                    {% for page in products.paginator.page_range %}
                        {% if page == products.number %}
                            <li class="current">
                                <a class="light" href="/page/{{ page }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/page/{{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                        <li class="arrow">
                            <a href="/page/{{ products.next_page_number }}">&raquo</a>
                        </li>
                    {% else %}
                        <li class="arrow unavailable">
                            <a href="">&raquo</a>
                        </li>
                    {% endif %}
                {% else %}
                    {% if products.has_previous %}
                        <li class="arrow">
                            <a href="page/{{ products.previous_page_number }}">&laquo</a>
                        </li>
                    {% else %}
                        <li class="arrow unavailable">
                            <a href="">&laquo</a>
                        </li>
                    {% endif %}
                    {% for page in products.paginator.page_range %}
                        {% if page == products.number %}
                            <li class="current">
                                <a class="light" href="page/{{ page }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="page/{{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                        <li class="arrow">
                            <a href="page/{{ products.next_page_number }}">&raquo</a>
                        </li>
                    {% else %}
                        <li class="arrow unavailable">
                            <a href="">&raquo</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}