{% extends 'base.html' %}
{% load static %}

{% block title %}
  {% if category %} {{ category.name }} {% else %} Страница товаров {% endif %}
{% endblock %}

{% block content %}

  <div id="sidebar" class="col-sm-3">
    <h3>Категории</h3>
    <ul>
      <li {% if not category %} class="selected" {% endif %}>
        <a href="{% url "shop:ProductList" %}">Все</a>
      </li>
      {% for cat in categories %}
        <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
          <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="product_list col-sm-9">
    <h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
    <div class="items row">
      {% for product in products %}
          <!--
        <div class="item col-sm-4">
          <a href="{{ product.get_absolute_url }}">
            <img style="max-height: 300px" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive">
          </a>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
          {{ product.price }} руб.
        </div>
        -->

          <div class="col-sm-3 card linkblock" onclick="location.href='{{ product.get_absolute_url }}';">
                <a href="{{ product.get_absolute_url }}">
                    <img style="max-height: 200px;max-width: 170px;margin-bottom: 10px" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}">
                </a>
                <p class="light" style="margin-bottom: 3px">
                    {{ product.brand }}<br>
                </p>
                <p style="font-size: 120%;margin-bottom: 3px">
                    {{ product.name }}
                </p>
                <p class="light">
                    {{ e.product.category }}<br>
                    Цена: {{ product.price }} руб.
                </p>
                <div style="border-top: 1px solid #cfd3d7;width: 100%">
                    <p class="bold" style="margin-top: 10px">КУПИТЬ</p>
                </div>
            </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}