{% extends "base.html" %}

{% load static %}

{% block title %}
  Профиль
{% endblock %}

{% block content %}
<div style="text-align: center">
    <form class="form-horizontal" method="post" style="max-width: 70%;margin-left: 15%;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px">
        {% csrf_token %}
        <div style="padding: 50px">
            <p class="bold" style="font-size: 150%;margin-bottom: 20px;text-align: left">Здравствуйте, {{ name }}</p>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label light">Имя</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" autofocus required id="id_username" placeholder="Имя" name="name" value="{{ name }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Фамилия</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password1" placeholder="Фамилия" name="surname" value="{{ surname }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Страна</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Страна" name="country" value="{{ country }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Область</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Область" name="state" value="{{ state }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Город</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Город" name="city" value="{{ city }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Улица</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Улица" name="street" value="{{ street }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Дом</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Дом" name="home" value="{{ home }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Квартира</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Квартира" name="appartment" value="{{ appartment }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Индекс</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Индекс" name="index" value="{{ index }}">
                    <br>
                </div>

                <label for="password" class="col-sm-2 control-label light">Телефон</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="id_password2" placeholder="Телефон" name="phone_number" value="{{ phone_number }}">
                    <br>
                </div>
            </div>

            {% if reg_error %}
                <div class="light" style="color: red;margin-bottom: 10px">{{ reg_error }}</div>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10" style="text-align: center;margin-top: 20px">
                    <input style="width: 200px;height: 40px" class="btn btn-primary hp-banner-register bold" type="submit" value="СОХРАНИТЬ">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}